@{
    ViewBag.Title = "About";
    Layout = null;
}

<script src="~/lang-script.js"></script>

<h2 class="lang" key="aboutUs">About us</h2>
<h3 class="lang" key="aboutVague">StudList - the student list management tool ideal for your university.</h3>

<p class="lang" key="aboutDetailsFirst">Founded by a dedicated team of professionals passionate about education and technology, our company provides a powerful and intuitive tool designed specifically for managing student lists. We realized that the ever-evolving educational landscape called for a more efficient, streamlined approach, hence we embarked on the journey to develop a tool that would meet the dynamic needs of educators and administrative staff.</p>
<p class="lang" key="aboutDetailsSecond">With a strong commitment to delivering a high level of functionality and user-friendliness, we have created a unique software solution that simplifies the task of student list management. Whether you're a small tutoring center or a large university, our tool is flexible and scalable to accommodate your specific needs.</p>
<p class="lang" key="aboutDetailsThird">Our mission is to empower educational institutions with the best technology, saving valuable time and enabling a stronger focus on student success. By bridging the gap between technology and education, we strive to bring about a change that positively impacts learning outcomes and enhances the overall efficiency of educational administration.</p>
<p class="lang" key="aboutDetailsFourth">Trust us to provide you with a solution that is not just about managing names and grades; it's about shaping the future of education.</p>

