@{
    ViewBag.Title = "Contact";
    Layout = null;
}
<h2 class="lang" key="contactUs">Contact</h2>
<h3 class="lang" key="contactIncentive">Go ahead and write or call us!</h3>

<address>
    Nowojorska 14<br />
    Warszawa, 06-200<br />
    <abbr title="Phone" class="lang" key="phoneAbb">P:</abbr>
    +48 111 111 111
</address>

<address>
    <strong class="lang" key="support">Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong class="lang" key="marketing">Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<script src="~/lang-script.js"></script>